In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
print(pd.__version__)

2.0.3

In [13]:
a=['mansi','vraj']
s1=pd.Series(a,index=[5,6])
print(s1)

5    mansi
6     vraj
dtype: object

In [12]:
a=['mansi','vraj']
s1=pd.Series(a)
print(s1)

0    mansi
1     vraj
dtype: object

In [18]:
a=[1,2,3,4]
s1=pd.Series(a,index=['i1','i2','i3','i4'])            # print value with index
print(s1)

i1    1
i2    2
i3    3
i4    4
dtype: int64

In [19]:
print(s1['i1'])                             #single data from the series

1

In [21]:
keyVal={"AIML":'4',"CCN":"mansi","WS":3,"CS":4}     #create a series with key value pair
sKeyVal=pd.Series(keyVal)
print(sKeyVal)

AIML        4
CCN     mansi
WS          3
CS          4
dtype: object

In [24]:
student={"subject":["aiml","ccn","ws","cs"],
        "marks":[90,89,95,94]}
sstud=pd.DataFrame(student)                         # data in form of row and column
print(sstud)

  subject  marks
0    aiml     90
1     ccn     89
2      ws     95
3      cs     94

In [51]:
print(sstud.loc[2])                                                    # fatch single row

subject    ws
marks      95
Name: 2, dtype: object

In [25]:
studdata=pd.read_csv('C:\\Users\\Mansi\\p1.csv')                       # print csv file
print(studdata)

   id     name         dob          course   per
0   1    mansi  25-12-2002           mscit  90.0
1   2  hetasvi  14-06-2003           mscit  88.0
2   3   ridhhi  23-04-2003           mscit  87.0
3   4     vraj  31-04-2006          b.tech  85.0
4   5     liza  03-08-2002  cyber security  83.0
5   6      abc  07-12-1900             123   NaN

In [21]:
print(studdata.tail())                # last 5 line will print

    id            name         dob course  per
5  6.0             abc  07-12-1900    123  NaN
6  NaN             NaN         NaN    NaN  NaN
7  NaN             NaN         NaN    NaN  NaN
8  NaN             NaN         NaN    NaN  NaN
9  NaN  C:\Users\Mansi         NaN    NaN  NaN

In [22]:
print(studdata.loc[2])                                # print data of given index

id               3.0
name          ridhhi
dob       23-04-2003
course         mscit
per             87.0
Name: 2, dtype: object

In [23]:
print(studdata.info())                                 # print the info of data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      6 non-null      float64
 1   name    7 non-null      object
 2   dob     6 non-null      object
 3   course  6 non-null      object
 4   per     5 non-null      float64
dtypes: float64(2), object(3)
memory usage: 532.0+ bytes
None

In [24]:
newstudent=studdata.dropna()
print(newstudent)                                    # null value data will be deleted

    id     name         dob          course   per
0  1.0    mansi  25-12-2002           mscit  90.0
1  2.0  hetasvi  14-06-2003           mscit  88.0
2  3.0   ridhhi  23-04-2003           mscit  87.0
3  4.0     vraj  31-04-2006          b.tech  85.0
4  5.0     liza  03-08-2002  cyber security  83.0

In [26]:
filledstud=studdata.fillna(30)
print(filledstud)                                           # null record will fill

     id            name         dob          course   per
0   1.0           mansi  25-12-2002           mscit  90.0
1   2.0         hetasvi  14-06-2003           mscit  88.0
2   3.0          ridhhi  23-04-2003           mscit  87.0
3   4.0            vraj  31-04-2006          b.tech  85.0
4   5.0            liza  03-08-2002  cyber security  83.0
5   6.0             abc  07-12-1900             123  30.0
6  30.0              30          30              30  30.0
7  30.0              30          30              30  30.0
8  30.0              30          30              30  30.0
9  30.0  C:\Users\Mansi          30              30  30.0

In [32]:
new=studdata["course"].fillna("mca")
print(new)                                             # print given string where data is null

0             mscit
1             mscit
2             mscit
3            b.tech
4    cyber security
5               123
6               mca
7               mca
8               mca
9               mca
Name: course, dtype: object

In [34]:
studdata["course"].fillna("mca",inplace=True)
print(studdata)

    id            name         dob          course   per
0  1.0           mansi  25-12-2002           mscit  90.0
1  2.0         hetasvi  14-06-2003           mscit  88.0
2  3.0          ridhhi  23-04-2003           mscit  87.0
3  4.0            vraj  31-04-2006          b.tech  85.0
4  5.0            liza  03-08-2002  cyber security  83.0
5  6.0             abc  07-12-1900             123   NaN
6  NaN             NaN         NaN             mca   NaN
7  NaN             NaN         NaN             mca   NaN
8  NaN             NaN         NaN             mca   NaN
9  NaN  C:\Users\Mansi         NaN             mca   NaN

In [26]:
studdata["per"].fillna(55,inplace=True)
print(studdata)

   id     name         dob          course   per
0   1    mansi  25-12-2002           mscit  90.0
1   2  hetasvi  14-06-2003           mscit  88.0
2   3   ridhhi  23-04-2003           mscit  87.0
3   4     vraj  31-04-2006          b.tech  85.0
4   5     liza  03-08-2002  cyber security  83.0
5   6      abc  07-12-1900             123  55.0

In [37]:
mean=studdata["per"].mean()                        # find mean 
print(f"mean:{mean}")

mean:70.8

In [31]:
median=studdata["per"].median()                      # find median
print("median",median)

median 86.0

In [32]:
mode=studdata["per"].mode()                          # find mode
print(mode[2])

85.0

In [52]:
stud=pd.read_csv('C:\\Users\\Mansi\\p2.csv')
print(stud)

    id     name         dob          course   per
0  1.0    mansi  25-12-2002           mscit  90.0
1  2.0  hetasvi  14-06-2003           mscit  88.0
2  3.0   ridhhi  23-04-2003           mscit  87.0
3  4.0     vraj  31-04-2006          b.tech  85.0
4  5.0     liza  03-08-2002  cyber security  83.0
5  6.0      abc  03-02-1900             NaN   NaN
6  NaN      NaN         NaN             NaN   NaN
7  7.0      NaN         NaN             NaN   NaN

In [58]:
stud=pd.read_csv('C:\\Users\\Mansi\\train.csv')
print(stud)

            id  CustomerId         Surname  CreditScore Geography  Gender  \
0            0    15674932  Okwudilichukwu          668    France    Male
1            1    15749177   Okwudiliolisa          627    France    Male
2            2    15694510           Hsueh          678    France    Male
3            3    15741417             Kao          581    France    Male
4            4    15766172       Chiemenam          716     Spain    Male
...        ...         ...             ...          ...       ...     ...
165029  165029    15667085            Meng          667     Spain  Female
165030  165030    15665521       Okechukwu          792    France    Male
165031  165031    15664752            Hsia          565    France    Male
165032  165032    15689614          Hsiung          554     Spain  Female
165033  165033    15732798         Ulyanov          850    France    Male

         Age  Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0       33.0       3       0.00              2        1.0             0.0
1       33.0       1       0.00              2        1.0             1.0
2       40.0      10       0.00              2        1.0             0.0
3       34.0       2  148882.54              1        1.0             1.0
4       33.0       5       0.00              2        1.0             1.0
...      ...     ...        ...            ...        ...             ...
165029  33.0       2       0.00              1        1.0             1.0
165030  35.0       3       0.00              1        0.0             0.0
165031  31.0       5       0.00              1        1.0             1.0
165032  30.0       7  161533.00              1        0.0             1.0
165033  31.0       1       0.00              1        1.0             0.0

        EstimatedSalary  Exited
0             181449.97       0
1              49503.50       0
2             184866.69       0
3              84560.88       0
4              15068.83       0
...                 ...     ...
165029        131834.75       0
165030        131834.45       0
165031        127429.56       0
165032         71173.03       0
165033         61581.79       1

[165034 rows x 14 columns]

In [66]:
median=stud["Age"].median()
print("median",median)

median 37.0

In [65]:
mean=stud["Age"].mean()
print(f"mean:{mean}")

mean:38.12588787764945

In [5]:
stud.columns                          # give all the column name in table

Index(['id', 'CustomerId', 'Surname', 'CreditScore', 'Geography', 'Gender',
       'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [33]:
stud=pd.read_csv('C:\\Users\\Mansi\\pokemon.csv')
print(stud)

       #                   Name   Type 1  Type 2  Total  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison    318  45      49       49
1      2                Ivysaur    Grass  Poison    405  60      62       63
2      3               Venusaur    Grass  Poison    525  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison    625  80     100      123
4      4             Charmander     Fire     NaN    309  39      52       43
..   ...                    ...      ...     ...    ...  ..     ...      ...
795  719                Diancie     Rock   Fairy    600  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy    700  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
799  721              Volcanion     Fire   Water    600  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 13 columns]

In [7]:
stud.columns                           # give column name in table

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [38]:
stud['total']=stud['HP']+stud['Attack']+stud['Defense']                  # print total of given sub
print(stud.head(5))

   #                   Name Type 1  Type 2  Total  HP  Attack  Defense  \
0  1              Bulbasaur  Grass  Poison    318  45      49       49
1  2                Ivysaur  Grass  Poison    405  60      62       63
2  3               Venusaur  Grass  Poison    525  80      82       83
3  3  VenusaurMega Venusaur  Grass  Poison    625  80     100      123
4  4             Charmander   Fire     NaN    309  39      52       43

   Sp. Atk  Sp. Def  Speed  Generation  Legendary  total
0       65       65     45           1      False    143
1       80       80     60           1      False    185
2      100      100     80           1      False    245
3      122      120     80           1      False    303
4       60       50     65           1      False    134

In [47]:
stud['avg']=(stud['total'])/3
stud.head(5)                                     # print avg

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total,avg
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,143,47.666667
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,185,61.666667
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,245,81.666667
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,303,101.000000
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,134,44.666667

In [40]:
stud['per']=(stud['total'])*100/300
print(stud)
stud.head(5)                                            # print per of the total

       #                   Name   Type 1  Type 2  Total  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison    318  45      49       49
1      2                Ivysaur    Grass  Poison    405  60      62       63
2      3               Venusaur    Grass  Poison    525  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison    625  80     100      123
4      4             Charmander     Fire     NaN    309  39      52       43
..   ...                    ...      ...     ...    ...  ..     ...      ...
795  719                Diancie     Rock   Fairy    600  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy    700  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
799  721              Volcanion     Fire   Water    600  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  total         per
0         65       65     45           1      False    143   47.666667
1         80       80     60           1      False    185   61.666667
2        100      100     80           1      False    245   81.666667
3        122      120     80           1      False    303  101.000000
4         60       50     65           1      False    134   44.666667
..       ...      ...    ...         ...        ...    ...         ...
795      100      150     50           6       True    300  100.000000
796      160      110    110           6       True    320  106.666667
797      150      130     70           6       True    250   83.333333
798      170      130     80           6       True    300  100.000000
799      130       90     70           6       True    310  103.333333

[800 rows x 15 columns]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total,per
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,143,47.666667
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,185,61.666667
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,245,81.666667
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,303,101.000000
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,134,44.666667

In [44]:
stud.sort_values(['per'],ascending=1)                          # give output in descending order

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total,per
381,349,Feebas,Water,NaN,200,20,15,20,10,55,80,3,False,55,18.333333
68,63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False,60,20.000000
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False,75,25.000000
303,280,Ralts,Psychic,Fairy,198,28,25,25,45,35,40,3,False,78,26.000000
139,129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False,85,28.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
313,289,Slaking,Normal,NaN,670,150,160,100,95,65,100,3,False,410,136.666667
268,248,TyranitarMega Tyranitar,Rock,Dark,700,100,164,150,95,120,71,2,False,414,138.000000
224,208,SteelixMega Steelix,Steel,Ground,610,75,125,230,55,95,30,2,False,430,143.333333
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True,440,146.666667
333,306,AggronMega Aggron,Steel,NaN,630,70,140,230,60,80,50,3,False,440,146.666667